


/*normal styling */


#div1{
    width: 60px;
    height: 30px;
    background: linear-gradient(black, indigo);
	border-radius: 30px;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 10s infinite;
}

#clock{
	
	width: 72px;
    height: 30px;
    background: linear-gradient(black, indigo, red);
	
    transition: all 0.8s;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
	border-radius: 35px;
	
}





/* Safari 4.0 - 8.0 */
#div1 {-webkit-animation-timing-function: ease-in-out;}
#div1 {-webkit-animation-timing-function: ease-in-out;}
#div2 {-webkit-animation-timing-function: ease;}
#div3 {-webkit-animation-timing-function: ease-in;}
#div4 {-webkit-animation-timing-function: ease-out;}
#div5 {-webkit-animation-timing-function: ease-in-out;}
#div6 {-webkit-animation-timing-function: ease-out;}
/* Standard syntax */
#div1 {animation-timing-function: ease-in-out;}
#clock{animation-timing-function: ease-out;}
#div1 {-webkit-animation-timing-function: ease-out-in;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}
#div6 {animation-timing-function: ease-out;}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

/* Standard syntax */
@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}


@keyframes mymove1 {
    from {right: 190px;}
    to {right 0px;}
}











body
{
	
	background: silver;
	background: url(../images/star2.jpg); 
	color: white;		
}

main
{
    
    background: radial-gradient(black, indigo, black, indigo, black);
	opacity: 0.9;
    color: white;
    text-align:center;
    border-radius: 50px;
}



section
{

	background: url(../images/space.jpg); 
	
}

header
{
	margin-top: 70px;

}







h1,h2,h3,h4
{
	text-align: center;
}

img 
{
	/*height:120px; */
	border-radius: 25px;
	transition: all 0.5s;
	/*opacity: 0.5;*/
}

img:hover 
{
    opacity: 0.4;
	transition: all 0.5s;
    /* on mouse hover normal opacity   */
}

nav
{

    position: fixed;
	right: 0px; 
	top: 0em; 
	width: 100%;
    text-align:center;
	background: radial-gradient(black, indigo, black);
	opacity: 0.7;
	z-index: 9;
	transition: all 0.8s;
	
	
	

	/* background: radial-gradient(black, indigo); */
    
	/* styling for the nav */
}






nav li
{
    display: inline-block;
}


ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
 
}

li a {
	
    display: block;
    background: radial-gradient(black, indigo);
    color: white;
    padding: 8px 16px;
    text-decoration: none;
	border-radius: 35px;
}

li a:hover 
{
    
    color: black;
	opacity: 0.9;
	transition: all 0.5s;
}







/*mobile style */

@media screen and (max-width: 480px) 
{
	
body 
	{
		margin-left: 10%;
		margin-right: 10%;
		background: url(../images/space.jpg);
	} 

	
main 

	{
		background: radial-gradient(indigo, black);
	}



nav
	

	{
		background: radial-gradient(indigo, black);
		font-size: 120%;
	}

li a

	{
	
		background: black);
		
	}


	
li a:hover 
{
    
	
	background: radial-gradient(indigo, black);
    color: black;
	opacity: 0.9;
	transition: all 0.9s;
}

	
	
	
	
}


/*footer*/



footer
{

	position: absolute;
	text-align:center;
	color: black;
	opacity: 0.7;
}



figure
{
	
	
	
	text-align:center;
	
}


figcaption
{
font-family:"arial";
font-size: 60%;

	
}

