
body
{
	
	background: silver;
	background: url(../images/star2.jpg); 
	color: white;		
}

main
{
    
    background: black;
    /*background: url(../images/star2.jpg); */
    color: white;
    text-align:center;
    border-radius: 25px;
}

footer
{
    background: radial-gradient(black, orange, black);
    border-radius: 35px;
	position: absolute;
	text-align:center;
	color: black;
}


h1,h2,h3,h4
{
	text-align: center;
}

img 
{
	height:120px;
	border-radius: 25px;
	/*opacity: 0.5;*/
}

img:hover 
{
    opacity: 0.4;
    /* on mouse hover normal opacity   */
}

nav
{

    position: fixed;
	right: 0px; 
	top: 0em; 
	width: 100%;
    text-align:center;
	background: radial-gradient(black, orange, black);
	opacity: 0.7;
	
	/* background: radial-gradient(black, indigo); */
    
	/* styling for the nav */
}






nav li
{
    display: inline-block;
}


ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
 
}

li a {
    display: block;
    background: radial-gradient(black, orange);
    color: white;
    padding: 8px 16px;
    text-decoration: none;
	border-radius: 35px;
}

li a:hover 
{
    
    color: black;
	opacity: 0.9;
	
}

/*
@media screen and (min-width: 477px)

{
	
	
	
}


@media screen and (min-width: 1270x)

{
	
	
	
}

*/
